{% extends "layout.html" %}

{% block content %}
<h1>Homework Tracker</h1>

<h2>Homework List</h2>
<form class="filter-form" method="post" action="{% url 'homework_list' %}">
    {% csrf_token %}
    <label for="tag_filter">Filter by Tag:</label>
    <select name="tag_filter" id="tag_filter">
        <option value="">All</option>
        {% for tag in all_tags %}
        <option value="{{ tag.tag_name }}">{{ tag.tag_name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>

<table>
    <thead>
        <tr>
            <th>Homework Task</th>
            <th>Subheadline</th>
            <th>Due Date</th>
            <th>Tags</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for homework in homework_list %}
        <tr>
            <td>{{ homework.homework_task }}</td>
            <td>{{ homework.sub_headline }}</td>
            <td>{{ homework.due_date }}</td>
            <td>
                {% for tag in homework.tags.all %}
                {{ tag.tag_name }}
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'edit_homework' homework.id %}">
                    <button type="button">Edit</button>
                </a>
                <a href="{% url 'delete_homework' homework.id %}">
                    <button type="button">Delete</button>
                </a>
            </td>
        </tr>
        {% if today > homework.due_date %}
        <tr>
            <td colspan="5">
                <span style="color: red;">The due date has passed for this homework.</span>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'homework' %}">Add Homework</a>
{% endblock %}