{% extends "layout.html"%}

{% block content %}

<div>
    <h2>Add Homework</h2>
    <form method="post">
        {% csrf_token %}
        <label for="homework_task">Homework Task:</label>
        {{ form.homework_task }}
        <label for="sub_headline">Subheadline:</label>
        {{ form.sub_headline }}
        <label for="due_date">Due Date:</label>
        {{ form.due_date }}

        <div class="fea">
            <label for="tags">Tags:</label>
            {{ form.tags }}
            <a href="{% url 'addtag' %}">
                <h3>Add tag</h3>
            </a>
        </div>
        <button type="submit">Submit</button>

    </form>
</div>
{%endblock%}